#page .u-image-video-thumb .upfront-image-container {
    position: relative;
}
#page .u-image-video-thumb .upfront-image-container:after {
    bottom: 0;
    content: "s";
    color: #ufc0;
    font-family: "fixer";
    font-size: 120px;
    left: 0;
    line-height: 1em;
    margin-top: -60px;
    opacity: 1;
    pointer-events: none;
    position: absolute;
    right: 0;
    speak: none;
    text-align: center;
    top: 50%;
    -webkit-transition: opacity 0.4s ease;
    transition: opacity 0.4s ease;
    z-index: 3;
}
