#page .mobile-nav div.responsive_nav_toggler {
    background:#ufc1;
}
#page .mobile-nav div[data-style='burger'] ul.menu {
    background:none;
    padding-bottom:100%;
    height:100%;
}
#page .mobile-nav div[data-style='burger'] ul.menu > li.menu-item > a {
     padding:25px;
     background:rgba(51,51,51,.95);
     border:1px solid rgba(0,0,0,.9);
     color:#ufc0;
}
