.upfront-navigation ul.menu, .upfront-navigation ul.sub-menu {
    background-color: transparent;
}
.upfront-navigation ul.menu > li.new_menu_item a.menu_item {
    color: inherit;
    font-family: 'Raleway', Arial, sans-serif;
    font-size: 13px;
    line-height: 1.308em;
    padding: 0 0 5px;
    text-transform: uppercase;
}
 div[data-style='horizontal'] ul > li.menu-item > a,  div[data-style='vertical'] ul > li.menu-item > a {
    color: #ufc1;
    font-family: 'Raleway', Arial, sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 13px;
    line-height: 1.308em;
    padding: 0 0 5px;
    position: relative;
    text-transform: uppercase;
}
 div[data-style='horizontal'] ul > li.menu-item > a:hover,  div[data-style='vertical'] ul > li.menu-item > a:hover {
    color: #ufc3;
}
 div[data-style='horizontal'][data-aliment='right'] ul.sub-menu > li.menu-item > a,  div[data-style='vertical'][data-aliment='right'] ul > li.menu-item > a {
    padding-right: 25px
}
 div[data-style="horizontal"] ul.sub-menu,  div[data-style="vertical"] ul.sub-menu {
    background-color: #f5f5f5;
}
 div[data-style="horizontal"] ul.sub-menu ul.sub-menu,  div[data-style="vertical"] ul.sub-menu ul.sub-menu {
    padding-top: 0;
}
 div[data-style="horizontal"] ul.sub-menu > li.menu-item,  div[data-style="vertical"] ul.sub-menu > li.menu-item {
    display: block;
    min-width: 160px;
}
div.upfront-navigation div[data-style="horizontal"] ul.sub-menu > li.menu-item > a, div.upfront-navigation div[data-style="vertical"] ul.sub-menu > li.menu-item > a {
    border-left-color: #ddd;
    padding: 10px;
}
div.upfront-navigation div[data-style="horizontal"][data-aliment='right'] ul.sub-menu > li.menu-item.parent > a, div.upfront-navigation div[data-style="vertical"][data-aliment='right'] ul.sub-menu > li.menu-item.parent > a, div.upfront-navigation div[data-style="horizontal"][data-aliment='right'] ul.sub-menu > li.menu-item.menu-item-has-children > a, div.upfront-navigation div[data-style="vertical"][data-aliment='right'] ul.sub-menu > li.menu-item.menu-item-has-children > a {
    padding-right: 25px;
}
div.upfront-navigation div[data-style="horizontal"] ul.sub-menu:first-child > li.menu-item > a, div.upfront-navigation div[data-style="vertical"] ul.sub-menu:first-child > li.menu-item > a {
    border-left-color: transparent;
}
 div[data-style='horizontal'] ul.sub-menu li.menu-item-has-children > a:after,  div[data-style='horizontal'] ul.sub-menu li.parent > a:after,  div[data-style='vertical'] ul li.menu-item-has-children > a:after,  div[data-style='vertical'] ul li.parent > a:after {
    border-top-color: #ufc1;
    top: 7px;
    right: 10px;
}
 div[data-style='horizontal'] ul.sub-menu li.menu-item-has-children:hover > a:after,  div[data-style='horizontal'] ul.sub-menu li.parent:hover > a:after,  div[data-style='vertical'] ul li.menu-item-has-children:hover > a:after,  div[data-style='vertical'] ul li.parent:hover > a:after {
    border-top-color: transparent;
    border-left-color: #ufc3;
    top: 5px;
}
 div[data-style='horizontal'] ul.sub-menu li.menu-item-has-children > a:after,  div[data-style='horizontal'] ul.sub-menu li.parent > a:after,  div[data-style='vertical'] ul.sub-menu li.menu-item-has-children > a:after,  div[data-style='vertical'] ul.sub-menu li.parent > a:after {
    top: 17px;
}
 div[data-style='horizontal'] ul.sub-menu li.menu-item-has-children:hover > a:after,  div[data-style='horizontal'] ul.sub-menu li.parent:hover > a:after,  div[data-style='vertical'] ul.sub-menu li.menu-item-has-children:hover > a:after,  div[data-style='vertical'] ul.sub-menu li.parent:hover > a:after {
    top: 15px;
}
 div[data-style='horizontal'] ul.sub-menu li.menu-item-depth-4 ul.sub-menu,  div[data-style='vertical'] ul.sub-menu li.menu-item-depth-4 ul.sub-menu {
    left: 0;
    position: relative;
}
 div[data-style='horizontal'] ul.sub-menu li.menu-item-depth-4 ul.sub-menu li.menu-item > a,  div[data-style='vertical'] ul.sub-menu li.menu-item-depth-4 ul.sub-menu li.menu-item > a {
    border-left: none;
    border-top: 1px solid #ddd;
}
 div[data-style='horizontal'] ul.menu > li.menu-item {
    margin-left: 30px;
}
 div[data-style='horizontal'] ul.menu > li.menu-item:first-child {
    margin-left: 0;
}
 div[data-style='horizontal'] ul.menu > li.menu-item > a:after {
    background-color: transparent;
    border: none;
    bottom: 0;
    content: "";
    display: block;
    left: 0;
    height: 2px;
    margin: auto;
    position: absolute;
    right: 0;
    -webkit-transition: background-color .4s ease;
    transition: background-color .4s ease;
    top: inherit;
    width: 100%;
}
 div[data-style='horizontal'] ul.menu > li.current-menu-item > a:after,  div[data-style='horizontal'] ul.menu > li.menu-item > a:hover:after {
    background-color: #ufc1;
}
 div[data-style='vertical'] ul li.menu-item > a {
    padding: 0;
}
 div[data-style='vertical'] ul.menu li.menu-item {
    margin-top: 15px;
}
 div[data-style='vertical'] ul.menu li.menu-item:first-child {
    margin-top: 0;
}
 div[data-style='vertical'] ul.sub-menu li.menu-item {
    margin-top: 0;
}
div.upfront-navigation div[data-style="vertical"] ul.menu ul.sub-menu {
    top: -7px;
}
div.upfront-navigation div[data-style='vertical'] ul.menu ul.sub-menu ul.sub-menu {
    top: 0;
}
div[data-style='burger'] ul.menu {
    background: #ufc0;
}

div.responsive_nav_toggler, .upfront-navigation i.burger_nav_close {
    background: #ufc1;
    color: #ufc0;
    transition: background-color 0.2s ease-in-out;
    -ms-transition: background-color 0.2s ease-in-out;
    -moz-transition: background-color 0.2s ease-in-out;
    -webkit-transition: background-color 0.2s ease-in-out;
}

div.responsive_nav_toggler:hover, .upfront-navigation i.burger_nav_close:hover {
    background: #ufc0;
    color: #ufc1;
}

div.responsive_nav_toggler {
    width: 30px;
    height: 30px;
    padding-top: 10px;
    border: 0;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
}
div.responsive_nav_toggler > div {
    width: 16px;
    height: 2px;
    margin-bottom: 2px;
    transition: background-color 0.2s ease-in-out;
    -ms-transition: background-color 0.2s ease-in-out;
    -moz-transition: background-color 0.2s ease-in-out;
    -webkit-transition: background-color 0.2s ease-in-out;
    background: #ufc0;
}

div.responsive_nav_toggler:hover > div {
    background: #ufc1;
}

div.responsive_nav_toggler > div:last-child {
    margin-bottom: 0;
}
 i.burger_nav_close {
    margin: 20px 0 20px 20px;
}
div[data-style='burger'] ul.menu > li.menu-item > a {
    display: inline-block;
    position: relative;
    padding-right: 0;
    padding-left: 0;
    border-bottom: 2px solid transparent;
    color: #ufc1;
    font-size: 13px;
    font-family: "Raleway";
    font-weight: bold;
    text-transform: uppercase;
    padding: 0;
    -webkit-transition: border-color 0.2s ease;
            transition: border-color 0.2s ease;
}
div[data-style='burger'] ul.menu > li.current-menu-item > a, div[data-style='burger'] ul.menu > li.menu-item > a:hover {
    border-bottom-color: #ufc1;
}
div.upfront-navigation div.burger_overlay {
  background-color:rgba(51, 51, 51, 0.9);
}
 i.burger_nav_close:before {
    position: relative;
    top:-1px;
}
div.upfront-navigation div.upfront-navigation[data-style="burger"][data-burger_alignment="right"] ul.menu {
    min-width: 200px;
    padding: 0 20px;
    width: auto;
}
div.upfront-navigation div[data-style="burger"][data-burger_alignment="right"] ul.menu li {
    margin-bottom: 10px;
}
div.upfront-navigation div[data-style="burger"][data-burger_alignment="right"] ul.menu li:last-child, div.upfront-navigation div[data-style="burger"][data-burger_alignment="right"] ul.menu li.wrap_burger_nav_close {
    margin-bottom: 0;
}
div[data-style='burger'][data-burger_alignment="right"] ul.menu > li.menu-item > a {
    padding: 0;
}
