/* IMPORTANT: This file is used only in the theme installation and should not be included as a stylesheet. */


/* start plain_text.archive-heading */


#page .archive-heading .upfront-plain_txt h1{
   margin:0;
}
/* end plain_text.archive-heading */

/* start plain_text.footer-text-boxes */


#page .footer-text-boxes .upfront-plain_txt h4{
    margin:0;
}
/* end plain_text.footer-text-boxes */

/* start plain_text.header- */


#page .header- .upfront-plain_txt h2{
    margin:0;
}

#page .header- .upfront-plain_txt p{
    margin:0;
}
/* end plain_text.header- */

/* start plain_text.header-contact-text */


#page .header-contact-text .upfront-plain_txt{
    color:#333;    
    font-weight:bold;
}

#page .header-contact-text .upfront-plain_txt h2,
.upfront-plain_txt p{
    margin:0;
}
/* end plain_text.header-contact-text */

/* start plain_text.page-404-text */


#page .page-404-text h1{
    margin:0;
}
/* end plain_text.page-404-text */

/* start plain_text.page-404 */


#page .page-404 h1{
    margin:0;
}
/* end plain_text.page-404 */

/* start ucontact.home-footer-contact */


#page .home-footer-contact .upfront-field-container{
    margin:0 0 2px 0;
}

#page .home-footer-contact .ucontact-input{
    height:50px;
    line-height:50px;
    border:none;
}

#page .home-footer-contact .textarea-field{
    height:190px;
}

#page .home-footer-contact .submit-field{
    float:right;
    height:50px;
    width:150px;
    background:#645191;
    border:none;
    margin-right:20px;
    color:#fff;
    margin-top:10px;
}
/* end ucontact.home-footer-contact */

/* start ugallery.case-study-ugallery-style */


#page .case-study-ugallery-style .ugallery_item{
    margin:0 !important;
    padding:0;
}

#page .case-study-ugallery-style .ugallery_labels{
    height:50px;
    margin-bottom:40px;
}

#page .case-study-ugallery-style .ugallery_label_filter,
.ugallery_label_filter:link,
.ugallery_label_filter:hover{
    text-align:center;
    text-decoration:none;
    border:none;
    padding:20px;
    background:#ece9e4;
    font:500 normal 15px raleway;
    color:#666666;
    margin-right:3px;
    display:inline-block;
}

#page .case-study-ugallery-style .ugallery_label_filter.filter_selected{
    background:#645191;
    color:#fff;
}
/* end ugallery.case-study-ugallery-style */

/* start ugallery.case-study-ugallery */


#page .case-study-ugallery .ugallery_item{
    margin:0 !important;
    padding:0;
}

#page .case-study-ugallery .ugallery_labels{
    height:40px;   
    background:#ccc;
}
/* end ugallery.case-study-ugallery */

/* start unewnavigation.slider-button-styles */


#page .slider-button-styles div[data-style='horizontal'] ul.menu, div[data-style='vertical'] ul.menu{
    width:400px;
}

#page .slider-button-styles div[data-style='horizontal'] ul.menu > li.menu-item > a, div[data-style='vertical'] ul.menu > li.menu-item > a{
    display:inline-block;
    padding:15px 30px;
    border:3px solid #fff;
    color:#fff;
    float:right;
    margin-right:10px;
}
/* end unewnavigation.slider-button-styles */

/* start uposts.blog-posts */


#page .blog-posts .uposts-pagination{
    float:right;
    clear:both;
    margin-right:20px;
}

#page .blog-posts .uposts-pagination .page-numbers{
    display:inline-block;
    width:50px;
    height:50px;
    background:#ece9e4;
    text-align:center;
    text-decoration:none;
    border:none;
    color:#666;
    line-height:50px;
    font-family:raleway;
    font-size:13px;
    font-weight:bolder;
}

#page .blog-posts .uposts-pagination .page-numbers.next,
.uposts-pagination .page-numbers.previous{
    display:none;
}

#page .blog-posts .uposts-pagination .page-numbers.current{
    color:#fff;
    background:#5ebf6b;
}

#page .blog-posts .uposts-posts{
    font-family:raleway;
    color:#333333;
}

#page .blog-posts li.type-post{
    width:332px;
    float:left;
    list-style:none;
    position:relative;
    background:#f9f9f7;
    margin-bottom:30px;
    margin-right:10px;
}

#page .blog-posts li.type-post:first-child{
    width:669px;
}

#page .blog-posts li.type-post:first-child .post_date{
    background:#5ebf6b;
}

#page .blog-posts li.type-post:first-child .post_thumbnail{
    width:669px;
}

#page .blog-posts .post_date{
    position:absolute;
    top:0;
    right:0;
    display:block;
    width:74px;
    height:69px;
    background:#333;
    color:#fff;
    text-align:center;
    padding-top:5px;
    font:bold 32px/30px raleway;
}

#page .blog-posts h1.post_title{
    font:bold 28px raleway;
    text-align:left;
    max-width:303px;
    overflow:hidden;
    height:33px;
}

#page .blog-posts .upfront-postpart-wrapper{
    font-size:15px;
}

#page .blog-posts .post_thumbnail{
    height:196px;
    width:332px;
    min-width:100%;
}

#page .blog-posts .post_thumbnail img{
    width:100%;
    height:100%;
}

#page .blog-posts .upfront-postpart-featured_image{
    padding:0;
}

#page .blog-posts .upfront-content-marker-excerpt{
    margin-top:10px;
    height:50px;
    overflow:hidden;
    margin-bottom:30px;
}
/* end uposts.blog-posts */

/* start uposts.uposts-archive-style */


#page .uposts-archive-style .page-numbers.current{
    background:#a4d0dc;
}

#page .uposts-archive-style .uposts-posts li{
    list-style:none;
    margin-top:40px;
    overflow:hidden;
    font-family:raleway;
}

#page .uposts-archive-style h1.post_title{
    font:normal 20px raleway;
    text-align:left;
}

#page .uposts-archive-style .post_excerpt{
    color:#333;
    font:normal 15px raleway;
}

#page .uposts-archive-style .post_date{
    color:#999999;
    font:normal 13px raleway;
}

#page .uposts-archive-style .post_author{
    float:left;
    color:#999999;
    font:normal 13px/23px raleway;
}

#page .uposts-archive-style .upfront-postpart-author,
.upfront-postpart-date{
    padding-right:0;
}

#page .uposts-archive-style .upfront-postpart-author{
    padding-left:0;
}

#page .uposts-archive-style .uposts-pagination{
    margin-right:10px;
}
/* end uposts.uposts-archive-style */

/* start uwidget.archive-right-sidebar */


#page .archive-right-sidebar .widget{
    font-family:raleway;
    width:130px;
}

#page .archive-right-sidebar .widgettitle{
    color:#000;
    font:bold 15px raleway;
}

#page .archive-right-sidebar .widget li{
    list-style:none;
    text-align:right;
}

#page .archive-right-sidebar .widget a,
.widget a:link,
.widget a:hover{
    color:#333;
    border:none;
    text-decoration:none;
}
/* end uwidget.archive-right-sidebar */
