/*
Theme Name: Fixer
Version: 1.2
Template: upfront
Author: WPMU DEV
Author URI: http://premium.wpmudev.org/
Theme URI: https://premium.wpmudev.org/project/fixer/
Description: A flat and vibrant business theme for selling your services and standing out from the crowd. Fixer is big, bold and demands to be seen.
WDP ID: 938305
*/
@import url(../upfront/style.css);
