

#page .header-contact-text.upfront-plain_txt{
    color:#ufc1;
    font-weight:bold;
}

#page .header-contact-text.upfront-plain_txt h2,
#page .header-contact-text.upfront-plain_txt p{
    margin:0;
}
