#page .text-center h1, #page .text-center h2, #page .text-center h3, #page .text-center h4, #page .text-center h5, #page .text-center h6, #page .text-center p, #page .text-center.upfront-plain_txt {
   text-align:center!important;
   padding-left: 20px;
   padding-right: 20px;
}
#page .text-center h1 {
    padding-bottom:30px;
}
