#page .text-center-2 h3, #page .text-center-2 p, #page .text-center-2 {
    text-align:center!important;
    line-height: 1.5em;
    padding: 0px 20px;
}
#page .text-center-2 h1 {
 text-align:center!important;
 padding: 0px 20px;
}
#page .text-center-2 h3 {
    font-size:24px;
    margin-bottom:3px;
}
#page .text-center-2 p {
    font-size:15px;
    margin-bottom:10px;
}
