#page .u-paragraph-footer .upfront-plain_txt p {
    line-height: 1.133em;
}
#page .u-paragraph-footer.upfront-plain_txt a {
    color: #ufc0;
}
#page .u-paragraph-footer.upfront-plain_txt a:hover {
    color: #ufc6;
}