#page .u-paragraph-footer.upfront-plain_txt p {
    line-height: 1.133em;
    padding: 13px 0 7px;
}
#page .u-paragraph-footer.upfront-plain_txt a {
    color: #ufc0;
}
#page .u-paragraph-footer.upfront-plain_txt a:hover {
    color: #ufc6;
}
