#page .u-sub-heading.upfront-plain_txt h1, #page .u-sub-heading.upfront-plain_txt h2, #page .u-sub-heading.upfront-plain_txt h3, #page .u-sub-heading.upfront-plain_txt h4, #page .u-sub-heading.upfront-plain_txt h5, #page .u-sub-heading.upfront-plain_txt h6, #page .u-sub-heading.upfront-plain_txt p {
    font-weight: 400;
}
