#page .ucontact-contact-style .upfront-field-container {
    margin: 0;
    margin-bottom: 1px;
}
#page .ucontact-contact-style .upfront-field-container label {
    line-height:50px;
    color:#ufc1;
    padding-left:10px;
}
#page .ucontact-contact-style .ucontact-message-container {
    color: #ufc0;
}
#page .ucontact-contact-style .ucontact-input {
    font-size: 15px;
    font-weight: 500;
}
#page .ucontact-contact-style .ucontact-input {
    border: none;
    line-height: 1.3em;
    padding-top: 1em;
    padding-bottom: 1em;
    padding-left: 5%;
    padding-right: 5%;
    width: 100%;
    color:#ufc1;
}
#page .ucontact-contact-style .textarea-field {
    resize: none;
    height: 195px;
}
#page .ucontact-contact-style .submit-field {
    text-transform: uppercase;
    padding: 20px;
    float: right;
    color: #ufc0;
    background: #584780;
    font-size: 15px;
    font-weight: 700;
    margin-top: 20px;
    margin-bottom: 20px;
}
