#page .u-accordion-alt .upfront-accordion-container .accordion-panel .accordion-panel-title {
    border-bottom: none;
}
#page .u-accordion-alt.upfront-accordion .upfront-accordion-container .accordion-panel-content {
    padding: 10px 15px;
}