#page .u-tabs-alt-filled .upfront-tabs-container .tabs-menu {
    border-bottom: none;
    padding: 0;
}
#page .u-tabs-alt-filled .upfront-tabs-container .tabs-tab {
    margin-right: 15px;
}
#page .u-tabs-alt-filled .upfront-tabs-container .tabs-tab:last-child {
    margin-right: 0;
}
#page .u-tabs-alt-filled .upfront-tabs-container .tabs-tab {
    background: #ufc1;
    opacity: 0.5;
}
#page .u-tabs-alt-filled .upfront-tabs-container .tabs-tab-active, #page .u-tabs-alt-filled .upfront-tabs-container .tabs-tab:hover {
    background: #ufc1;
    opacity: 1;
}
#page .u-tabs-alt-filled .upfront-tabs-container .tabs-tab .inner-box {
    padding: 5px 15px;
}
