#page .upfront-tabs-container .tabs-menu-wrapper {
    overflow: hidden;
}
#page .upfront-tabs-container .tabs-menu {
    border-bottom: 1px solid #ufc6;
    margin: 0;
    overflow: hidden;
    padding-bottom: 10px;
}
#page .upfront-tabs-container .tabs-tab {
    border: 3px solid transparent;
    margin-right: 30px;
    padding: 0;
}
#page .upfront-tabs-container .tabs-tab:last-child {
    margin-right: 0;
}
#page .upfront-tabs-container .tabs-tab .inner-box {
    font-family: 'Raleway', Arial, sans-serif;
    font-weight: 700;
    font-size: 15px;
    font-style: normal;
    line-height: 1.667em;
    padding: 0;
    text-transform: uppercase;
}
#page .upfront-tabs-container .tabs-tab i {
	right: -19px;
}
#page .upfront-tabs-container .tabs-content {
    margin: 15px 0 0;
    padding: 0;
}
#page .upfront-tabs-container .tabs-content,  .upfront-tabs-container .tabs-content p {
    color: #ufc1;
    font-family: 'Raleway', Arial, sans-serif;
    font-weight: 400;
    font-size: 15px;
    font-style: normal;
    line-height: 1.667em;
}
