#page .case-study-ugallery-style .ugallery {
  overflow: hidden;
  width: 100%;
}
#page .case-study-ugallery-style .ugallery_item {
  padding: 0;
  position: relative;
  /*overflow:hidden;*/
}
#page .case-study-ugallery-style .ugallery_labels {
  /*height: 50px;*/
  margin-bottom: 30px;
}
#page .case-study-ugallery-style .ugallery_label_filter {
  border: none;
  color: #666;
  display: inline-block;
  background: #ece9e4;
  font-family: 'Raleway', Arial, sans-serif;
  font-size: 15px;
  font-weight: 700;
  line-height: 1.133em;
  margin: 0 10px 10px 0;
  padding: 17px 20px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
}
#page .case-study-ugallery-style .ugallery_label_filter.filter_selected {
  background: #ufc5;
  color: #ufc0;
}
#page .case-study-ugallery-style .ugallery_lb_text {
  background: #ufc5;
  bottom: -100%;
  color: #ufc0; 
  display: block;
  font-family: 'Raleway', Arial, sans-serif;
  font-size: 28px;
  font-weight: 700;
  line-height: 1.071em;
  left: 0;
  height: 100%;
  opacity: 0;
  padding: 25% 15%; 
  position: absolute;
  /*width:70%;
  height:50%;*/
  width: 100%;
  -webkit-transition: all 0.6s ease;
  -moz-transition: all 0.6s ease;
  -o-transition: all 0.6s ease;
  transition: all 0.6s ease;
}
#page .case-study-ugallery-style .ugallery_item:hover .ugallery_lb_text {
  bottom: 0;
  opacity: 1;
}
#page .case-study-ugallery-style .ugallery_lb_text p {
  color: #ufc0;
  font-size: 28px;
  font-weight: 700;
  line-height: 1.071em;
}
