#page .case-study-ugallery-style .ugallery {
    width:100%;
}
#page .case-study-ugallery-style .ugallery_item {
    padding:0;
    position:relative;
    overflow:hidden;
}
#page .case-study-ugallery-style .ugallery_labels {
    height:50px;
    margin-bottom:40px;
}
#page .case-study-ugallery-style .ugallery_label_filter, #page .case-study-ugallery-style .ugallery_label_filter:link, #page .case-study-ugallery-style .ugallery_label_filter:hover {
    text-align:center;
    text-decoration:none;
    border:none;
    padding:20px;
    background:#ece9e4;
    font:500 normal 15px raleway;
    color:#666666;
    margin-right:3px;
    display:inline-block;
}
#page .case-study-ugallery-style .ugallery_label_filter.filter_selected {
    background:#ufc5;
    color:#ufc0;
}
#page .case-study-ugallery-style .ugallery_lb_text {
  position: absolute; 
  background: #ufc5;
  color: white; 
  padding: 25% 15%; 
  display:block;
  opacity: 0;
  bottom: -100%; 
  left: 0;
  width:70%;
  height:50%;
  font:500 28px raleway;
  -webkit-transition: all 0.6s ease;
  -moz-transition:    all 0.6s ease;
  -o-transition:      all 0.6s ease;
}
#page .case-study-ugallery-style .ugallery_item:hover .ugallery_lb_text {
  opacity: 1;
  bottom: 0;
}
