#page .no-y-padding div.upfront-object, #page .no-y-padding div.upfront-output-object {
    padding-top: 0px;
    padding-bottom: 0px;
}
#page .no-y-padding.upfront-module-group {
    padding-bottom: 20px;
}
