#page .quality-style div.upfront-object, #page .quality-style div.upfront-output-object {
    padding:0px;
}
#page .quality-style.upfront-module-group {
    padding:0px 0px 20px 0px;
    border-bottom: 1px solid #444;
    margin-bottom: 30px;
}
