.upfront-region-container-region-14 .upfront-region-container-bg {
    color: #ufc0;
}
.upfront-region-container-region-14 .upfront-default-slider-nav-prev:before, .upfront-region-container-region-14 .upfront-default-slider-nav-next:before {
    content: '';
    display: none;
}
.upfront-region-container-region-14 .upfront-default-slider-nav-prev, .upfront-region-container-region-14 .upfront-default-slider-nav-next, .upfront-region-container-region-14 .upfront-default-slider-nav-prev:hover, .upfront-region-container-region-14 .upfront-default-slider-nav-next:hover {
    background: url("UPFRONT_THEME_BASE/ui/fixer-slider-arrows.png") no-repeat;
    border-radius: 0;
    display: block;
    font-size: 30px;
    line-height: 1em;
    height: 50px;
    opacity: 1;
    -webkit-transition: opacity .4s;
    transition: opacity .4s;
    width: 27px;
}
.upfront-region-container-region-14 .upfront-default-slider-nav-prev {
    background-position: 0 0;
    left: 2em;
}
.upfront-region-container-region-14 .upfront-default-slider-nav-prev:hover {
    background-position: 0 -71px;
}
.upfront-region-container-region-14 .upfront-default-slider-nav-next {
    background-position: -46px 0;
    right: 2em;
}
.upfront-region-container-region-14 .upfront-default-slider-nav-next:hover {
     background-position: -46px -71px;
}
.upfront-region-container-region-14 .upfront-default-slider-nav {
    display: none;
}
