#page .archived-posts.uposts-object ul {
    font-family:"Raleway";
}
#page .archived-posts.uposts-object li .title a, #page .archived-posts.uposts-object li .title a:link, #page .archived-posts.uposts-object li .title a:visited {
    color:#ufc1;
    font-size:20px;
    font-family:"Raleway";
    font-weight:500;
    padding: 25px 0;
}
#page .archived-posts.uposts-object li .content {
    font-size:15px;
}
#page .archived-posts.uposts-object li .date_posted {
    float:left;
    margin-right:5px;
    color:#999999;
    font-weight:normal;
    font-size:13px;
}
#page .archived-posts.uposts-object li .author a {
    text-transform: capitalize;
}
#page .archived-posts.uposts-object li .author, #page .archived-posts.uposts-object li .author a, #page .archived-posts.uposts-object li .author a:visited, #page .archived-posts.uposts-object li .author a:link {
    color:#999999;
    font-weight:500;
    font-size:13px;
}
#page .archived-posts .uf-pagination {
    text-align:right;
    clear:both;
    margin-bottom:100px;
}
#page .archived-posts .uf-pagination .page-numbers, #page .archived-posts .uf-pagination .page-numbers:visited, #page .archived-posts .uf-pagination .page-numbers:link {
    display:inline-block;
    width:50px;
    height:50px;
    text-align:center;
    line-height:50px;
    background:#ece9e4;
    color:#ufc1;
}
#page .archived-posts .uf-pagination .page-numbers.current {
    background:#a4d0dc;
}
