#page .blog-posts.uposts-object{
    padding: 0;
}
#page .blog-posts.uposts-object li.uf-post {
    color:#333333;
    display:block;
    height:335px;
    width:330px;
    padding:0;
    margin:15px;
    background:#f9f9f7;
    float:left;
    position:relative;
}

#page .blog-posts.uposts-object li.uf-post.uf-post-sticky {
    width:690px;
    background:#ece9e4;
}
#page.mobile-breakpoint .blog-posts.uposts-object li.uf-post,
#page.mobile-breakpoint .blog-posts.uposts-object li.uf-post.uf-post-sticky
{
    width:90%;
}

#page.tablet-breakpoint .blog-posts.uposts-object li.uf-post,
#page.tablet-breakpoint .blog-posts.uposts-object li.uf-post.uf-post-sticky
{
    width:94%;
}
#page .blog-posts.uposts-object li.uf-post .thumbnail {
    height:196px;
    width:100%;
    margin:0;
    padding:0;
}
#page .blog-posts.uposts-object li.uf-post .thumbnail img {
    margin:0 !important;
    padding:0;
    width:100%;
}
#page .blog-posts.uposts-object li.uf-post .date_posted {
    display:block;
    height:76px;
    width:76px;
    background:#333333;
    position:absolute;
    top:0;
    right:0;
    color:#fff;
    padding:20px;
    text-align:center;
    font-size:24px;
    font-family: "Raleway SemiBold";
}
#page .blog-posts.uposts-object li.uf-post-sticky .date_posted {
    background:#5ebf6b;
}
#page .blog-posts.uposts-object li.uf-post .title {
    padding:30px 0 30px 30px;
    width:100%;
    overflow:hidden;
    display:block;
    height:21px;
}
#page .blog-posts.uposts-object li.uf-post .title a, #page .blog-posts.uposts-object li.uf-post .title a:visited, #page .blog-posts.uposts-object li.uf-post .title a:link {
    color:#333333;
    font-weight:bold;
    font-size:28px;
    font-family:"Raleway Bold";
    margin:0;
}
#page .blog-posts.uposts-object li.uf-post .content {
    font-size:15px;
    font-family:"Raleway";
    padding:0 30px;
    margin:20px 0;
    max-height:38px;
    overflow:hidden;
}
#page .blog-posts .uf-pagination {
    width:100%;
    clear:both;
    text-align:center;
    margin:30px 0;
}
#page .blog-posts .uf-pagination .page-numbers, #page .blog-posts .uf-pagination .page-numbers:link, #page .blog-posts .uf-pagination .page-numbers:visited {
    display:inline-flex;
    height:50px;
    width:50px;
    background:#ece9e4;
    text-align:center;
    line-height:55px;
    color:#666666;
    font-family:"Raleway Bold";
    font-weight:bold;
    overflow:hidden;
    padding:0 20px;
}
#page .blog-posts .uf-pagination .page-numbers.current {
    background:#5ebf6b;
    color:#fff;
}
