

#page .blog-posts .uposts-pagination{
    float:right;
    clear:both;
}

#page .blog-posts .uposts-pagination .page-numbers{
    display:inline-block;
    width:50px;
    height:50px;
    background:#ece9e4;
    text-align:center;
    text-decoration:none;
    border:none;
    color:#666;
    line-height:50px;
    font-family:raleway;
    font-size:13px;
    font-weight:bolder;
}

#page .blog-posts .uposts-pagination .page-numbers.next,
.uposts-pagination .page-numbers.previous{
    display:none;
}

#page .blog-posts .uposts-pagination .page-numbers.current{
    color:#fff;
    background:#5ebf6b;
}

#page .blog-posts .uposts-posts{
    font-family:raleway;
    color:#333333;
}

#page .blog-posts li.type-post{
    width:330px;
    float:left;
    list-style:none;
    position:relative;
}

#page .blog-posts .post_date{
    position:absolute;
    top:0;
    right:0;
    display:block;
    width:74px;
    height:69px;
    background:#333;
    color:#fff;
    text-align:center;
    padding-top:5px;
    font:bold 32px/30px raleway;
}

#page .blog-posts h1.post_title{
    font:bold 28px raleway;
    text-align:left;
    max-width:303px;
    overflow:hidden;
    height:33px;
}

#page .blog-posts .upfront-postpart-wrapper{
    font-size:15px;
}

#page .blog-posts .post_thumbnail{
    height:196px;
    width:330px;
    min-width:100%;
}

#page .blog-posts .post_thumbnail img{
    width:100%;
    height:100%;
}

#page .blog-posts .upfront-content-marker-excerpt{
    margin-top:10px;
    height:50px;
    overflow:hidden;
    margin-bottom:40px;
}