#page .home-latest-posts.uposts-object li {
    width:100%;    
    height:290px;
    background:transparent;
    overflow:hidden;
    position:relative;
    margin:0 0 -1px 0;
    padding:0;
    border-bottom:1px solid #f5f5f5;
    color:#333;
    font-family:"Raleway";
}
#page .home-latest-posts.uposts-object li a {
    color:#333;
}
#page .home-latest-posts.uposts-object li.uf-post-sticky {
    background:#5ebf6b;
    border:none;
    color:#fff;
}
#page .home-latest-posts.uposts-object li.uf-post-sticky a {
    color:#fff;
}
#page .home-latest-posts.uposts-object li .thumbnail {
    width:50%;
    float:right;
    overflow:hidden;
    height:290px;
    margin:0;
    padding:0;
}
#page .home-latest-posts.uposts-object li .thumbnail img {
    height:100%;
    width:100%;
    min-width:100%;
    min-height:100%;
    margin:0 !important;
    padding:0 !important;
}
#page .home-latest-posts.uposts-object li .date_posted {
    position:absolute;
    background:#333333;
    color:#fff;
    display:block;
    height:75px;
    width:75px;
    bottom:0;
    right:0;
    margin:0;
    line-height:30px;
    text-align:center;
    font-size:32px;
    font-family:"Raleway SemiBold";
    padding-top:12px;
}
#page .home-latest-posts.uposts-object li.uf-post-sticky .date_posted {
    background:#5ebf6b;
}
#page .home-latest-posts.uposts-object li .date_posted .day {
    clear:both;
    display:block;
    width:100%;
}
#page .home-latest-posts.uposts-object li .content {
    display:block;
    max-height:93px;
    width:415px;
    overflow:hidden;
    padding:0;
    float:left;
    margin-left:45px;
    font-size:15px;
}
#page .home-latest-posts.uposts-object li.uf-post-sticky .content, #page .home-latest-posts.uposts-object li.uf-post-sticky .content p {
    color:#fff;
}
#page .home-latest-posts.uposts-object li .title {
    float:left;
    width:50%;
    padding:60px 45px 0;
    font-family:"Raleway Bold";
    font-size:28px;
}
#page .home-latest-posts.uposts-object li .read_more {
    float:left;
    margin: 22px 0 22px 45px;
    display:block;
    width:26px;
    height:26px;
    padding:0;
    clear:left;
    font-size:26px;
}
