#page .home-latest-posts.uposts-object li {
    width:100%;    
    height:290px;
    background:transparent;
    overflow:hidden;
    position:relative;
    margin:0 0 -1px 0;
    padding:0;
    border-bottom:1px solid #f5f5f5;
    color:#ufc1;
}
#page .home-latest-posts.uposts-object li * {
   font-family:"Raleway", Helvetica Neueu, Helvetica, Arial, sans-serif;
}
#page .home-latest-posts.uposts-object li a {
    color:#ufc1;
}
#page .home-latest-posts .uposts-object li.uf-post-sticky {
    background:#ufc6;
    border:none;
    color:#ufc0;
}
#page .home-latest-posts .uposts-object li.uf-post-sticky a {
    color:#ufc0;
}
#page .home-latest-posts.uposts-object li .thumbnail {
    width:50%;
    float:right;
    overflow:hidden;
    height:290px;
    margin:0;
    padding:0;
}
#page .home-latest-posts.uposts-object li .thumbnail img {
    height:100%;
    width:100%;
    min-width:100%;
    min-height:100%;
    margin:0 !important;
    padding:0 !important;
}
#page .home-latest-posts.uposts-object li .date_posted {
    position:absolute;
    background:#ufc1;
    color:#ufc0;
    display:block;
    height:75px;
    width:75px;
    bottom:0;
    right:0;
    margin:0;
    line-height:30px;
    text-align:center;
    font-size:32px;
    padding-top:12px;
}
#page .home-latest-posts .uposts-object li.uf-post-sticky .date_posted {
    background:#ufc6;
    font-weight: 400;
    font-style: normal;
}
#page .home-latest-posts.uposts-object li .date_posted .day {
    clear:both;
    display:block;
    width:100%;
    font-size:32px;
    font-weight:500;
    line-height:36px;
}
#page .home-latest-posts.uposts-object li .date_posted .month {
    clear:both;
    display:block;
    font-size:15px;
    text-transform:uppercase;
    line-height:18px;
}
#page .home-latest-posts.uposts-object li .content {
    display:block;
    max-height:100px;
    width:40%;
    overflow:hidden;
    padding:0;
    float:left;
    margin-left:5%;
    font-size:15px;
}
#page .home-latest-posts.uposts-object li .content p {
    line-height:20px;
    font-size:15px;
}
#page .home-latest-posts .uposts-object li.uf-post-sticky .content, #page .home-latest-posts .uposts-object li.uf-post-sticky .content p {
    color:#ufc0;
}
#page .home-latest-posts.uposts-object li .title {
    float:left;
    width:50%;
    padding:60px 5% 0;
    font-size:28px;
}
#page .home-latest-posts.uposts-object li .title h3 {
    font-weight:600;
}
#page .home-latest-posts.uposts-object li .read_more {
    float:left;
    margin: 0px 0 22px 5%;
    display:block;
    width:26px;
    height:26px;
    padding:0;
    clear:left;
    font-size:26px;
}
#page .home-latest-posts.uposts-object li:first-child .date_posted {
    background:#ufc6;
}
#page .home-latest-posts.uposts-object li:first-child {
    background-color:#ufc6;
    background: #ufc6; /* Old browsers */
    background: -moz-linear-gradient(left,  #ufc6 0%, #ufc6 50%, #58b364 50%, #58b364 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right top, color-stop(0%,#ufc6), color-stop(50%,#ufc6), color-stop(50%,#58b364), color-stop(100%,#58b364)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(left,  #ufc6 0%,#ufc6 50%,#58b364 50%,#58b364 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(left,  #ufc6 0%,#ufc6 50%,#58b364 50%,#58b364 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(left,  #ufc6 0%,#ufc6 50%,#58b364 50%,#58b364 100%); /* IE10+ */
    background: linear-gradient(to right,  #ufc6 0%,#ufc6 50%,#58b364 50%,#58b364 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ufc6', endColorstr='#58b364',GradientType=1 ); /* IE6-9 */
}
#page .home-latest-posts.uposts-object li:first-child .content p, #page .home-latest-posts.uposts-object li:first-child .title h3 a, #page .home-latest-posts.uposts-object li:first-child .read_more a {
    color:#ufc0;
}
