#page .u-posts-home-tablet.uposts-object ul {
    margin: 0;
    padding: 0 15px;
}
#page .u-posts-home-tablet.uposts-object li {
    background: #f9f9f7;
    color: #ufc1;
    /*height: 450px;*/
    margin: 30px 0 0;
    overflow: hidden;
    padding: 0 0 30px;
    position: relative;
    width: 100%;
}
#page .u-posts-home-tablet.uposts-object li article {
    height: 100%;
    overflow: hidden;
    position: relative;
}
#page .u-posts-home-tablet.uposts-object li .title {
    display: block;
    margin: 0;
    padding: 30px 30px 15px 30px;
    text-align:center;
}
#page .u-posts-home-tablet.uposts-object li .title h3 {
    font-size: 28px;
    line-height: 1.143em;
}
#page .u-posts-home-tablet.uposts-object li .title a {
    color: #ufc1;
    font-weight: 700;
}
#page .u-posts-home-tablet.uposts-object li .title a:hover {
    color: #ufc6;
}
#page .u-posts-home-tablet.uposts-object li .thumbnail {
    height: 200px;
    margin: 0;
    overflow: hidden;
    padding: 0;
}
#page .u-posts-home-tablet.uposts-object li .thumbnail img {
    height: 100%;
    opacity: 1;
    -webkit-transition: opacity .4s;
    transition: opacity .4s;
    width: 100%;
}
#page .u-posts-home-tablet.uposts-object li .thumbnail a:hover img {
    opacity: .65;
}
#page .u-posts-home-tablet.uposts-object li .date_posted {
    background: #ufc1;
    color: #ufc0;
    display: block;
    font-family: 'Raleway', Arial, sans-serif;
    font-weight: 600;
    height: 75px;
    margin: 0;
    padding: 10px 15px;
    position: absolute;
    right: 0;
    text-align: center;
    top: 0;
    width: 75px;
}
#page .u-posts-home-tablet.uposts-object li .date_posted span {
    display: block;
    text-transform: uppercase;
}
#page .u-posts-home-tablet.uposts-object li .date_posted .day {
    font-size: 32px;
    line-height: 1em;
    text-align:center;
}
#page .u-posts-home-tablet.uposts-object li .date_posted .month {
    font-size: 19px;
    line-height: 1.133em;
    text-align:center;
}
#page .u-posts-home-tablet.uposts-object li .content {
    display: block;
    margin: 0;
    padding: 0 30px;
}
#page .u-posts-home-tablet.uposts-object li .content p {
    padding: 0;
}
#page .u-posts-home-tablet.uposts-object li .content p:last-child {
    margin-bottom: 0;
}
#page .u-posts-home-tablet.uposts-object li .content.generated-excerpt p:after {
    content: "...";
}
#page .u-posts-home-tablet.uposts-object li .read_more {
    display: block;
    height: 26px;
    margin: 15px auto 0;
    padding: 0;
    text-align: center;
    width: 100%;
}
#page .u-posts-home-tablet.uposts-object li .read_more a {
    color: #333;
    font-size: 26px;
}
#page .u-posts-home-tablet.uposts-object li .read_more a:hover {
    color: #333;
}
#page .u-posts-home-tablet.uposts-object li:first-child, #page .u-posts-home-tablet.uposts-object li.uf-post-sticky {
    background: #ufc6;
    color: #ufc1;
}
#page .u-posts-home-tablet.uposts-object li:first-child .title a, #page .u-posts-home-tablet.uposts-object li.uf-post-sticky .title a {
    color: #ufc0;
}
#page .u-posts-home-tablet.uposts-object li:first-child .title a:hover, #page .u-posts-home-tablet.uposts-object li.uf-post-sticky .title a:hover {
    color: #ufc1;
}
#page .u-posts-home-tablet.uposts-object li:first-child .date_posted, #page .u-posts-home-tablet.uposts-object li.uf-post-sticky .date_posted {
    background-color: #ufc6;
}
#page .u-posts-home-tablet.uposts-object li:first-child .read_more a, #page .u-posts-home-tablet.uposts-object li.uf-post-sticky .read_more a {
    color: #ufc0;
}
#page .u-posts-home-tablet.uposts-object li:first-child .read_more a:hover, #page .u-posts-home-tablet.uposts-object li.uf-post-sticky .read_more a:hover {
    color: #ufc1;
}
#page .u-posts-home-tablet.uposts-object li:first-child .content p, #page .u-posts-home-tablet.uposts-object li.uf-post-sticky .content p {
    color: #ufc0;
}
#page .u-posts-home-tablet.uposts-object li.noFeature article:before {
    background: #ece9e4;
    content: "";
    display: block;
    height: 200px;
    /*right: 0;
    position: absolute;
    top: 0;*/
    width: 100%;
}
#page .u-posts-home-tablet.uposts-object li .content p {
    font-size:17px;
    line-height:1.7em;
    text-align:center;
}
