#page .u-posts-grid.uposts-object {
    padding: 0;
}
#page .u-posts-grid.uposts-object ul {
    margin-left: 0;
    overflow: hidden;
}
#page .u-posts-grid.uposts-object li {
    background: #f9f9f7;
    color: #ufc1;
    float: left;
    margin: 15px;
    height: 335px;
    padding: 0;
    position: relative;
    width: 330px;
}
#page .u-posts-grid.uposts-object li .date_posted {
    background: #ufc1;
    color: #ufc0;
    display: block;
    font-family: 'Raleway', Arial, sans-serif;
    font-weight: 700;
    font-style: normal;
    height: 75px;
    margin: 0;
    right: 0;
    padding: 12px 15px 8px;
    position: absolute;
    text-align: center;
    top: 0;
    width: 75px;
}
#page .u-posts-grid.uposts-object li .date_posted a {
    color: #ufc0;
}
#page .u-posts-grid.uposts-object li .date_posted span {
    display: block;
    text-transform: uppercase;
}
#page .u-posts-grid.uposts-object li .date_posted .date-day {
    font-size: 30px;
    line-height: 1em;
}
#page .u-posts-grid.uposts-object li .date_posted .date-month {
    font-size: 15px;
    line-height: 1.1em;
    font-weight:500;
}
#page .u-posts-grid.uposts-object li .thumbnail {
    height: 196px;
    margin: 0;
    padding: 0;
    width: 100%;
}
#page .u-posts-grid.uposts-object li .thumbnail img {
    opacity: 1;
    -webkit-transition: opacity .4s;
    transition: opacity .4s;
}
#page .u-posts-grid.uposts-object li .thumbnail:hover img {
    opacity: .65;
}
#page .u-posts-grid.uposts-object li .title {
    display: block;
    margin: 0;
    padding: 20px 20px 0px;
}
#page .u-posts-grid.uposts-object li .title a {
    color: #ufc1;
    display: block;
    font-family: 'Raleway', Arial, sans-serif;
    font-weight: 700;
    font-size: 25px;
    font-style: normal;
    line-height: 1.143em;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
#page .u-posts-grid.uposts-object li .title a:hover {
    color: #ufc1;
}
#page .u-posts-grid.uposts-object li .content {
    margin: 0;
    max-height: 50px;
    overflow: hidden;
    padding: 0 20px;
}
#page .u-posts-grid.uposts-object li.noFeature article {
    height: 335px;
    position: relative;
}
#page .u-posts-grid.uposts-object li.noFeature article:before {
    background: #ece9e4;
    content: "";
    display: block;
    height: 196px;
    width: 100%;
}
#page .u-posts-grid.uposts-object li.uf-post-sticky {
    width: 690px;
}
#page .u-posts-grid.uposts-object li.uf-post-sticky.noFeature article:before {
    background: #ece9e4;
}
#page .u-posts-grid.uposts-object li.uf-post-sticky .date_posted {
    background: #ufc1;
}
#page .u-posts-grid/* pagination */
.uf-pagination {
    font-size: 0;
    margin: 20px auto 30px;
    text-align: center;
    width: 100%;
}
#page .u-posts-grid .uf-pagination .page-numbers {
    background: #ece9e4;
    color: #666;
    display: inline-block;
    font-family: 'Raleway';
    font-weight: 700;
    font-style: normal;
    font-size: 15px;
    line-height: 50px;
    height: 50px;
    width: 50px;
    white-space: nowrap;
}
#page .u-posts-grid .uf-pagination .page-numbers.current {
    background: #ufc1;
    color: #ufc0;
}
#page .u-posts-grid .uf-pagination .page-numbers:hover, #page .u-posts-grid .uf-pagination .page-numbers.prev:hover, #page .u-posts-grid .uf-pagination .page-numbers.next:hover {
    background: #ufc1;
    color: #ufc0;
}
#page .u-posts-grid .uf-pagination .page-numbers.prev, #page .u-posts-grid .uf-pagination .page-numbers.next {
    position: relative;
    text-indent: -9999px;
}
#page .u-posts-grid .uf-pagination .page-numbers.prev:before, #page .u-posts-grid .uf-pagination .page-numbers.next:before {
    height: 50px;
    left: 0;
    position: absolute;
    text-indent: 0px;
    top: 0;
    width: 50px;
}
#page .u-posts-grid .uf-pagination .page-numbers.prev:before {
    content: "«";
}
#page .u-posts-grid .uf-pagination .page-numbers.next:before {
    content: "»";
}
