

#page .uposts-archive-style .page-numbers.current{
    background:#a4d0dc;
}

#page .uposts-archive-style .uposts-posts li{
    list-style:none;
    margin-top:40px;
    overflow:hidden;
    font-family:raleway;
}

#page .uposts-archive-style h1.post_title{
    font:normal 20px raleway;
    text-align:left;
}

#page .uposts-archive-style .post_excerpt{
    color:#333;
    font:normal 15px raleway;
}

#page .uposts-archive-style .post_date{
    color:#999999;
    font:normal 13px raleway;
}

#page .uposts-archive-style .post_author{
    float:left;
    color:#999999;
    font:normal 13px/23px raleway;
}

#page .uposts-archive-style .upfront-postpart-author,
.upfront-postpart-date{
    padding-right:0;
}

#page .uposts-archive-style .upfront-postpart-author{
    padding-left:0;
}

#page .uposts-archive-style .uposts-pagination{
    margin-right:10px;
}