#page .uposts-archive-style .uposts-posts li {
    list-style:none;
    margin-top:40px;
    overflow:hidden;
}
#page .uposts-archive-style h1.post_title {
    font:normal 20px raleway;
    text-align:left;
}
#page .uposts-archive-style .post_excerpt {
    color:#333;
    font:normal 15px raleway;
}
#page .uposts-archive-style .post_date {
    color:#999999;
    font:normal 13px raleway;
}
#page .uposts-archive-style .post_author {
    float:left;
    color:#999999;
    font:normal 13px/23px raleway;
}
#page .uposts-archive-style .upfront-postpart-author, #page .uposts-archive-style .upfront-postpart-date {
    padding-right:0;
}
#page .uposts-archive-style .upfront-postpart-author {
    padding-left:0;
}
#page .uposts-archive-style/* paginator numeric*/
.uposts-pagination.numeric {
    text-align: right;
    font-size: 15px;
    font-weight: 700;
	margin-top: 50px;
	margin-bottom: 20px;
}
#page .uposts-archive-style .uposts-pagination.numeric span {
    display: inline-block;
    background:#a4d0dc;
    color: #ffffff;
    padding: 20px;
    margin-left: -4px;
}
#page .uposts-archive-style .uposts-pagination.numeric a {
    padding:20px;
    display: inline-block;
    background: #ECE9E4;
    color: #333333;
}
#page .uposts-archive-style .uposts-pagination.numeric a:hover {
    background:#a4d0dc;
    color: #ffffff;
}
#page .uposts-archive-style .uposts-pagination.numeric .page-numbers.next, #page .uposts-archive-style .uposts-pagination.numeric .page-numbers.previous {
    display:none;
}
