#page .uposts-blog-style li.type-post {
    width:332px;
    height: 340px;
    float:left;
    list-style:none;
    position:relative;
    background:#f9f9f7;
    margin-bottom:30px;
    margin-right:10px;
}
#page .uposts-blog-style li.type-post:first-child {
    width:669px;
}
#page .uposts-blog-style li.type-post:first-child .post_date {
    background:#5ebf6b;
}
#page .uposts-blog-style li.type-post:first-child .post_thumbnail {
    width:669px;
}
#page .uposts-blog-style .uposts-post {
    position: relative;
}
#page .uposts-blog-style .upfront-postpart-date {
    position:absolute;
    top:0;
    right:0;
    display:block;
    width:75px;
    height:75px;
    margin-top: -195px;
    background:#333;
    color:#fff;
    text-align:center;
    font-size: 22px;
    padding-top: 8px;
    font-weight: 600;
    text-align: center;
    text-transform: uppercase;
}
#page .uposts-blog-style .uposts-post:first-child .upfront-postpart-date {
    background: #5EBF6B;
}
#page .uposts-blog-style h1.post_title {
    font-size:28px;
    font-weight: 700;
    text-align:left;
    max-width:303px;
    overflow:hidden;
}
#page .uposts-blog-style h1.post_title a {
    color: #333;
}
#page .uposts-blog-style .upfront-postpart-wrapper {
    font-size:15px;
}
#page .uposts-blog-style .post_thumbnail {
    height:196px;
    width:332px;
    min-width:100%;
}
#page .uposts-blog-style .post_thumbnail img {
    width:100%;
    height:100%;
}
#page .uposts-blog-style .upfront-postpart-featured_image {
    padding:0;
    max-height: 195px!important;
}
#page .uposts-blog-style .post_excerpt {
    display: block;  
    height: 2.5em;
    font-size: 15px;
    font-weight: 400;
    overflow:hidden;
}
#page .uposts-blog-style/* paginator numeric*/
.uposts-pagination.numeric {
    text-align: right;
    font-size: 15px;
    font-weight: 700;
    margin-top: 20px;
    margin-bottom: 20px;
    float:right;
    clear:both;
}
#page .uposts-blog-style .uposts-pagination.numeric span {
    display: inline-block;
    background:#5ebf6b;
    color: #ffffff;
    padding: 20px;
    margin-left: -4px;
}
#page .uposts-blog-style .uposts-pagination.numeric a {
    padding:20px;
    display: inline-block;
    background: #ECE9E4;
    color: #333333;
}
#page .uposts-blog-style .uposts-pagination.numeric a:hover {
    background:#5ebf6b;
    color: #ffffff;
}
#page .uposts-blog-style .uposts-pagination.numeric .page-numbers.next, #page .uposts-blog-style .uposts-pagination.numeric .page-numbers.prev {
    display:none;
}
