#page .uposts-archive-style .uposts-posts li {
    list-style:none;
    margin-top:40px;
    overflow:hidden;
}
#page .uposts-archive-style h1 {
    font-size: 22px;
    font-weight: 400;
}
#page .uposts-archive-style h1 a {
    color: #333333;
}
#page .uposts-archive-style .post_excerpt {
    color: #333333;
    font-size: 15px;
    font-weight: 400;
}
#page .uposts-archive-style .post_date {
    color: #999999;
    font-size: 13px;
    font-weight: 400;
}
#page .uposts-archive-style .upfront-postpart-author {
    color: #999999;
    font-size: 13px;
    font-weight: 700;
}
#page .uposts-archive-style .upfront-postpart-author a {
    color: #999999;
}
#page .uposts-archive-style/* paginator numeric*/
.uposts-pagination.numeric {
    text-align: right;
    font-size: 15px;
    font-weight: 700;
    margin-top: 50px;
	margin-bottom: 20px;
}
#page .uposts-archive-style .uposts-pagination.numeric span {
    display: inline-block;
    background:#a4d0dc;
    color: #ffffff;
    padding: 20px;
    margin-left: -4px;
}
#page .uposts-archive-style .uposts-pagination.numeric a {
    padding:20px;
    display: inline-block;
    background: #ECE9E4;
    color: #333333;
}
#page .uposts-archive-style .uposts-pagination.numeric a:hover {
    background:#a4d0dc;
    color: #ffffff;
}
#page .uposts-archive-style .uposts-pagination.numeric .page-numbers.next, #page .uposts-archive-style .uposts-pagination.numeric .page-numbers.previous {
    display:none;
}
