/* comments */
.upfront-comment ol.upfront-comments {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.upfront-comments li.comment {
    overflow: hidden;
}
.upfront-comments li.comment article {
    padding: 30px 0;
    overflow: hidden;
    border-top: 2px solid #f5f5f5;
}
.upfront-comments li.comment.depth-1.thread-even {
}
.upfront-comments li.comment.depth-1.thread-odd {
}
.upfront-comments li.comment.thread-even .children li.comment {
}
.upfront-comments li.comment.thread-odd .children li.comment {
}
.upfront-comments .comment .children {
    list-style-type: none;
    margin: 0 20px;
    margin: 0 0 0 45px;
    padding: 0
}
.upfront-comments .comment-meta {
    float: left;
    height: 60px;
    margin-right: 45px;
    width: 60px;
    display:none;
}
.upfront-comments .comment-content {
    float: left;
    font-size: 15px;
    max-width: 100%;
}
.upfront-comments .comment-content p {
    font-size: 15px;
    line-height: 1.667em;
}
.upfront-comments .depth-2 .comment-content {
    width:100%;
}
.upfront-comments .depth-3 .comment-content {
    width:100%;
}
.upfront-comments .comment_author, .upfront-comments .comment_author a {
    color: #ufc1;
    font-size: 22px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.7em;
}
.upfront-comments .comment_author a:hover {
    color: #ufc6;
}
.upfront-comments .comment-meta-actions {
    float: right;
}
.upfront-comments p.comment-awaiting-moderation {
    clear: both;
    color: #ufc1;
    font-size: 15px;
    font-weight: 700;
    line-height: 1em;
    margin-bottom: 0;
    padding: 0;
}
.upfront-comments a.comment-date {
    margin-right: 15px;
    color: #ufc1;
    font-weight:600;
    font-size: 13px;
    line-height: 2em;
}
.upfront-comments a.comment-date:hover {
    color: #ufc1;
}
.upfront-comments .comment-reply {
    float: right;
}
.upfront-comments .comment-reply-link {
    background: url("UPFRONT_THEME_BASE/ui/reply-button.png") no-repeat center;
    display: inline-block;
    height: 21px;
    overflow: hidden;
    text-indent: 9999px;
    width: 21px;
}
.upfront-comments .edit-link {
    margin: 0;
}
.upfront-comments .comment-edit-link {
    color: #ufc1;
    font-size:13px;
    font-weight:700;
    line-height:1em;
}

.upfront-comments .comment-edit-link:hover {
    color: #ufc1;
    font-size:13px;
    font-weight:700;
    text-decoration:underline;
}

.comment-content > *:last-child {
    margin-bottom: 0;
}
.comment-content h1, .comment-content h2, .comment-content h3, .comment-content h4, .comment-content h5, .comment-content h6, .comment-content p, .comment-content address, .comment-content table, .comment-content pre, .comment-content cite, .comment-content q, .comment-content iframe, .comment-content embed {
    margin: 0 0 15px;
}
.comment-content > ul, .comment-content > ol {
    margin: 0 0 15px 20px;
}
.comment-content p {
    margin: 0 0 5px;
    padding: 0;
    -ms-word-break: break-word;
    word-break: break-word;
}
.comment-content img, .comment-content .wp-caption {
    display: block;
    height: auto;
    max-width: 100%;
}
.comment-content .wp-caption-text {
    color: #999;
    font-size: 13px;
    line-height: 1.385em;
    margin-top: 10px;
}
.comment-content blockquote {
    position: relative;
}
.comment-content blockquote:before, .comment-content blockquote:after {
    display: inline-block;
    font-family: 'Fixer';
    height: 30px;
    position: absolute;
    speak: none;
    width: 30px;
}
.comment-content blockquote:before {
    content: "l";
    left: 0;
    top: 0;
}
.comment-content blockquote:after {
    bottom: -5px;
    content: "m";
    right: 0;
}
.comment-content blockquote p {
    font-size: 22px;
    line-height: 1.364em;
    padding: 0 30px;
}
.comment-content address {
    font-family: 'Raleway', Arial, sans-serif;
    font-style: normal;
    font-weight: 400;
}
.comment-content pre {
    background: #ufc5;
    color: #ufc0;
    padding: 15px;
    white-space: pre-wrap;
}
.comment-content q {
    font-style: italic;
    font-weight: 400;
}
.comment-content cite {
    color: #ufc1;
    font-weight: 700;
    font-style: normal;
}
.comment-content iframe, .comment-content embed {
    display: block;
    max-width: 100%;
}
.comment-content table {
    border-spacing: 0;
    border-collapse: collapse;
    max-width: 100%;
    width: 100%;
}
.comment-content table > tbody > tr > td, .comment-content table > tbody > tr > th, .comment-content table > tfoot > tr > td, .comment-content table > tfoot > tr > th, .comment-content table > thead > tr > td, .comment-content table > thead > tr > th {
    border-top: 1px solid #ece9e4;
    color: #ufc1;
    padding: 10px;
    text-align: left;
    vertical-align: top;
}
.comment-content table > thead > tr > th {
    border-bottom: 2px solid #ufc1;
    color: #ufc1;
    vertical-align: bottom;
}
.comment-content table th a, .comment-content table td a {
    color: #ufc1;
    text-decoration: underline;
}
.comment-content table th a:hover, .comment-content table td a:hover {
    color: #ufc6;
}
.comment-content table thead > tr:first-child > td, .comment-content table thead > tr:first-child > th, .comment-content table thead > tr:first-child > td, .comment-content table thead > tr:first-child > th, .comment-content table > thead:first-child > tr:first-child > td, .comment-content table > thead:first-child > tr:first-child > th {
    border-top: 0;
}
/* respond form */
.comment-respond {
    background: #ffe262;
    margin: 30px auto;
    overflow: hidden;
    padding: 30px 20px;
}
.comment-respond .comment-reply-title a {
    color: #ufc1;
}

.comment-respond .comment-reply-title small a {
    width:100%;
    display:block;
    color:#ufc1;
    font-size:15px;
    font-weight:600;
}

.comment-respond .comment-reply-title small a:hover {
    text-decoration: underline;
}

.comment-respond .logged-in-as {
    margin-bottom: 20px;
    font-size: 15px;
}
.comment-respond .logged-in-as a {
    font-weight:600;
    color: #ufc1;
}
.comment-respond .logged-in-as a:hover {
    color: #ufc1;
    text-decoration: underline;
}
.comment-form .comment-form-author, .comment-form .comment-form-email, .comment-form .comment-form-comment, .comment-form .form-submit {
    margin: 0;
}
.comment-form input[type="text"], .comment-form input[type="email"], .comment-form textarea {
    border: 1px solid #f7f7f7;
    margin: 0 0 1px;
    background: #f7f7f7;
     -webkit-transition: width .2s ease, background-color .2s ease;
    transition: width .2s ease, background-color .2s ease;
}

#commentform p, #commentform h3 {
    padding-bottom:0px;
}

#commentform input[type="text"]:focus,
#commentform input[type="email"]:focus,
#commentform textarea:focus {
    border-color: #fed41d;
    background: white;
    font-size:15px;
}
.comment-form .comment-form-comment textarea {
    height: 150px;
    width:100%;
    padding: 10px 15px;
    resize: vertical;
}
.comment-form .form-submit {
    float: right;
    margin-top: 20px;
}
.comment-form .form-submit input[type="submit"] {
    background: #fed41d;
    color: #ufc1;
    padding: 16px 30px;
}
.comment-form .form-submit input[type="submit"]:hover {
    background: #ufc1;
    color: #fed41d;
}

.upfront-comment {
    min-height: 200px;
 }
