#page .uf-ucomment-responsive .upfront-comments .comment .children {
    margin: 0 10px;
}
#page .uf-ucomment-responsive .upfront-comments .comment-meta {
    float: none;
    margin: 0 0 10px;
}
#page .uf-ucomment-responsive .upfront-comments .comment-content {
    float: none;
    margin: 0 0 5px;
    max-width: 100%;
}
#page .uf-ucomment-responsive .upfront-comments .comment-meta-actions {
    clear: both;
    float: none;
}
