.post_content {    
    padding-bottom: 60px;
}
.part-featured_image.no-featured_image {
    display: none;
}
.part-featured_image.no-featured_image ~ .part-contents > .post-part {
    margin-top: -50px;
}
.upfront-postpart-title .post_title {
    text-align: center;
    -ms-word-wrap: break-word;
    word-wrap: break-word;
}
.upfront-postpart-title .post_title a {
    color: #ufc6;
    font-weight: 900;
}
.upfront-postpart-title .post_title a:hover {
    color: #ufc6;
}
.upfront-postpart-author_gravatar span.author_gravatar {
    display: block;
    margin-top: 5px;
    overflow: hidden;
}
.upfront-postpart-author_gravatar .author_gravatar img {
    float: right;
    height: 60px;
    width: 60px;
}
.upfront-postpart-author {
    text-align: right;
}
.post_author_by,
.upfront-postpart-author a.post_author {
    color: #ufc1;
    font-size: 13px;
    font-weight: 700;
    line-height: 1.923em;
}
.upfront-postpart-author a.post_author:hover {
    text-decoration: underline;
}
.upfront-postpart-update {
    color: #ufc1;
    font-size: 13px;
    line-height: 1.923em;
    text-align: right;
}
 div.upfront-postpart-date {
    background: #ufc1;
    color: #ufc0;
    display: block;
    font-family: 'Raleway', Arial, sans-serif;
    font-weight: 600;
    font-style: normal;
    height: 75px;
    padding: 10px 15px;
    text-align: center;
    width: 75px;
}
 .upfront-postpart-date span {
    display: block;
    text-transform: uppercase;
}
 .upfront-postpart-date .date_part_0 {
    font-size: 32px;
    line-height: 1em;
}
 .upfront-postpart-date .date_part_1 {
    font-size: 15px;
    line-height: 1.133em;
}
 .upfront-postpart-excerpt .post_excerpt {
    color: #999;
    font-family: 'Raleway', Arial, sans-serif;
    font-size: 28px;
    font-weight: 400;
    line-height: 1.250em;
}
 .post_tags a {
    color: #999;
    display: block;
    font-size: 13px;
    line-height: 1.385em;
    text-align: right;
}
 .post_tags a:hover {
    color: #ufc1;
}
.post_content > *:last-child {
    margin-bottom: 0;
}
.post_content img {
    display: block;
    height: auto;
    max-width: 100%;
    margin-top:5px;
}
.post_content .alignnone, .post_content .aligncenter, .post_content .alignright, .post_content .alignleft {
    max-width: 100%;
}
.post_content .alignnone, .post_content div.alignnone, .post_content .aligncenter, .post_content div.aligncenter, .post_content img.aligncenter {
    display: block;
    margin: 0 auto 30px auto;
}
.post_content .alignright, .post_content img.alignright {
    float: right;
    margin: 0 0 30px 30px;
}
.post_content .alignleft, .post_content img.alignleft {
    float: left;
    margin: 0 30px 30px 0;
}
.post_content h1, .post_content h2, .post_content h3, .post_content h4, .post_content p, .post_content address, .post_content table, .post_content pre, .post_content cite, .post_content q, .post_content iframe, .post_content embed {
    margin: 0 0 30px;
}

.post_content h5, .post_content h6 {
    margin: 0 0 10px;
}
.post_content > ul, .post_content > ol {
    margin: 0 0 30px 20px;
}

.post_content ul li, .post_content ol li {
    margin-bottom: 10px;
}
.post_content p {
    padding: 0;
    -ms-word-break: break-word;
    word-break: break-word;
}
.post_content img, .post_content .wp-caption {
    display: block;
    height: auto;
    max-width: 100%;
}
.post_content .wp-caption {
    margin-bottom:30px;
}
.post_content .wp-caption-text p, .post_content p.wp-caption-text {
    color: #ufc1;
    font-size: 13px;
    line-height: 1.4em;
    margin-top: 15px;
    margin-bottom: 0;
    padding: 0;
    text-align: center;
}
.post_content .wp-caption.alignnone.wp-caption-text p,
.post_content .wp-caption.alignnone p.wp-caption-text {
    text-align: right;
}
.post_content .wp-caption-text > * {
    margin: 0;
}
.post_content .wp-caption-text a {
    color: #ufc6;
    font-size: 13px;
    line-height: 1.385em;
}
.post_content .ueditor-insert.upfront-inserted_image-wrapper,
.post_content .ueditor-insert.upfront-inserted_image-wrapper:hover {
    margin: 0;
}
.post_content .ueditor-insert {
    min-height: auto !important;
}
.post_content .ueditor-insert-variant .ueditor-image-style-full-width,
.post_content .ueditor-insert-variant .ueditor-image-style-center-page,
.post_content .ueditor-insert-variant .ueditor-image-style-center-post {
    margin-bottom: 30px;
}
.post_content .ueditor-insert-variant .ueditor-image-style-right {
    margin: 0 0 15px 30px;
}
.post_content .ueditor-insert-variant .ueditor-image-style-left {
    margin: 0 30px 15px 0;
}
.post_content .upfront-wrapper.uinsert-image-wrapper {
    min-height: auto !important;
    padding: 0;
}
.post_content .upfront-wrapper.wp-caption-text {
    color: #ufc1;
    font-size: 13px;
    line-height: 1.4em;
    min-height: auto !important;
    margin: 0;
    text-align: center;
    padding: 15px 0 0;
}
.post_content .upfront-wrapper.wp-caption-text p {
    margin: 0;
}
.upfront-postpart-contents .post_content blockquote {
    margin: 0 60px 30px;
    padding: 0;
    text-align: center;
}
.upfront-postpart-contents .post_content blockquote:before,
.upfront-postpart-contents .post_content blockquote:after {
    content: "";
    display: none;
}
.post_content blockquote p {
    padding: 0;
}
.post_content blockquote p:last-child {
    margin-bottom: 0;
}
.post_content address {
    font-family: 'Raleway', Arial, sans-serif;
    font-style: normal;
    font-weight: 400;
}
.post_content pre {
    background: #ufc5;
    color: #ufc0;
    padding: 15px;
    white-space: pre-wrap;
}
.post_content q {
    font-style: italic;
    font-weight: 400;
}
.post_content cite {
    color: #ufc1;
    font-weight: 700;
    font-style: normal;
}
.post_content iframe, .post_content embed {
    display: block;
    max-width: 100%;
}
.post_content table {
    border-spacing: 0;
    border-collapse: collapse;
    max-width: 100%;
    width: 100%;
}
.post_content table > tbody > tr > td, .post_content table > tbody > tr > th, .post_content table > tfoot > tr > td, .post_content table > tfoot > tr > th, .post_content table > thead > tr > td, .post_content table > thead > tr > th {
    border-top: 1px solid #ece9e4;
    color: #ufc1;
    padding: 10px;
    text-align: left;
    vertical-align: top;
}
.post_content table > thead > tr > th {
    border-bottom: 2px solid #ufc1;
    color: #ufc1;
    vertical-align: bottom;
}
.post_content table th a, .post_content table td a {
    color: #ufc1;
    text-decoration: underline;
}
.post_content table th a:hover, .post_content table td a:hover {
    color: #ufc6;
}
.post_content table thead > tr:first-child > td, .post_content table thead > tr:first-child > th, .post_content table thead > tr:first-child > td, .post_content table thead > tr:first-child > th, .post_content table > thead:first-child > tr:first-child > td, .post_content table > thead:first-child > tr:first-child > th {
    border-top: 0;
}
.post_content .gallery .gallery-item .gallery-icon {
    text-align: left;
}
.post_content .gallery .gallery-item .gallery-icon a {
    display: inline-block;
    position: relative;
}
.post_content .gallery .gallery-item .gallery-icon a:before {
    background-color: #ufc6;
    content: '';
    left: 0;
    height: 100%;
    opacity: 0;
    pointer-events: none;
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
    -webkit-transition: opacity 0.2s ease-out;
    transition: opacity 0.2s ease-out;
}
.post_content .gallery .gallery-item .gallery-icon a:after {
    content: '+';
    color: #ufc0;
    font-size: 40px;
    font-weight: 300;
    left: 0;
    line-height: 1;
    opacity: 0;
    pointer-events: none;
    position: absolute;
    right: 0;
    text-align: center;
    top: 50%;
    -webkit-transition: opacity 0.2s ease-out, -webkit-transform 0.2s ease-out;
    transition: opacity 0.2s ease-out, transform 0.2s ease-out;
    -webkit-transform: translateY(-20px) scale(3);
    transform: translateY(-20px) scale(3);
}
.post_content .gallery .gallery-item .gallery-icon a:hover:before, .post_content .gallery .gallery-item .gallery-icon a:hover:after {
    opacity: 0.8;
}
.post_content .gallery .gallery-item .gallery-icon a:hover:after {
    -webkit-transform: translateY(-20px) scale(1);
    transform: translateY(-20px) scale(1);
}
.post_content .gallery .gallery-item img {
    background-color: #ufc0;
    border-color: #ufc2 !important;
    padding: 5px;
}
.post_content .gallery .gallery-item .gallery-caption {
    max-width: 90%;
    padding: 0;
    text-align: left;
}
.post_content .post-password-form label {
    float: left;
}
.post_content .post-password-form input[type="password"] {
    border: 1px solid #ece9e4;
    display: inline-block;
    font-family: 'Raleway', Arial, sans-serif;
    font-weight: 500;
    font-size: 15px;
    font-style: normal;
    height: 50px;
    padding: 0 20px;
    width: 300px;
}
.post_content .post-password-form input[type="submit"] {
    background: #a4d0dc;
    color: #ufc0;
    display: inline-block;
    float: left;
    height: 50px;
    padding: 0 15px;
    width: auto;
}
.post_content .post-password-form input[type="submit"]:hover {
    background: #ufc6;
}
