#page .thispost-blog-style h1 a {
    color: #ufc1;
}
#page .thispost-blog-style .upfront-postpart-author {
    color: #ufc1;
    text-align: right;
    font-weight: 700;
    font-size: 13px;
}
#page .thispost-blog-style .upfront-postpart-author a {
    color: #ufc1;
}
#page .thispost-blog-style .upfront-postpart-update {
    color: #ufc1;
    text-align: right;
    font-size: 13px;
}
#page .thispost-blog-style .upfront-postpart-update span {
    font-weight: 700;
}
#page .thispost-blog-style .upfront-postpart-date {
    display:block;
    width:75px;
    height:75px;
    background:#ufc1;
    color:#ufc0;
    text-align:center;
    font-size: 22px;
    padding-top: 8px;
    font-weight: 600;
    text-align: center;
    text-transform: uppercase;
    margin-left: 15px;
}
#page .thispost-blog-style .post_tags a {
    display: block;
    text-align: right;
    font-size: 13px;
    color: #999999;
    text-decoration: none;
}
#page .thispost-blog-style .wp-caption-text {
    font-size: 13px;
    color: #999999;
}
#page .thispost-blog-style .post_content {
    line-height: 1.5em;
    font-size: 15px;
}
#page .thispost-blog-style .post_content a {
    color: #ufc6;
    text-decoration: none;
}
#page .thispost-blog-style blockquote {
    position: relative;
}
#page .thispost-blog-style blockquote:before {
    position: absolute;
    width: 30px;
    content: "l";
    font-size: 20px;
    display: inline-block;
    font-family: 'Fixer' !important;
    speak: none !important;
    top: 15px;
}
#page .thispost-blog-style blockquote p {
    display:inline-block;
    font-size: 22px;
    padding: 15px 0;
    padding-left: 30px;
}
