#page .u-this_post-tablet .part-title > .post-part {
    margin: 0;
    width: 100%;
}
#page .u-this_post-tablet .part-title {
    width:100%;
}
#page .u-this_post-tablet .part-update {
    margin: 0;
    text-align: center;
    width: 100%;
}
#page .u-this_post-tablet .part-update div {
    width: 100%;
    margin: 0;
}
#page .u-this_post-tablet .upfront-postpart-author_gravatar .author_gravatar img {
    float: none;
}
#page .u-this_post-tablet .upfront-postpart-author, #page .u-this_post-tablet .upfront-postpart-update {
    text-align: left;
}
#page .u-this_post-tablet .part-featured_image {
    margin: 0;
    width: 100%;
}
#page .u-this_post-tablet .part-tags {
    width: 100%;
}
#page .u-this_post-tablet .post_tags a {
    display: inline-block;
    margin: 0 15px 15px 0;
    text-align: left;
}
#page .u-this_post-tablet .part-contents {
    margin-left: 0;
    width: 100%;
}
#page .u-this_post-tablet .part-featured_image.no-featured_image ~ .part-contents > .post-part {
    margin-top: 30px;
}
#page .u-this_post-tablet .part-contents > .post-part {
    margin-left: 0;
    width: 100%;
}
#page .u-this_post-tablet .upfront-postpart-author {
    text-align: center;
}
#page .u-this_post-tablet .upfront-postpart-update {
    text-align: center;
}
#page .u-this_post-tablet .post_content .alignright, #page .u-this_post-tablet .post_content img.alignright, #page .u-this_post-tablet .post_content .alignleft, #page .u-this_post-tablet .post_content img.alignleft {
    float: none;
    margin: 0 auto 30px;
}
#page .u-this_post-tablet .upfront-inserted_image-wrapper.ueditor-insert-variant .ueditor-insert {
    margin-bottom: 30px;
    width: 100%;
}
#page .u-this_post-tablet .uinsert-image-wrapper img {
    margin-right: auto;
    margin-left: auto;
    width: auto;
}