#page .u-this_page-mobile .part-title  > .post-part {
    margin: 0;
    width: 100%;
}
#page .u-this_page-mobile .part-update {
    margin: 0;
    text-align: center;
    width: 100%;
}
#page .u-this_page-mobile .upfront-postpart-author_gravatar .author_gravatar img {
    float: none;
}
#page .u-this_page-mobile .upfront-postpart-author,
#page .u-this_page-mobile .upfront-postpart-update {
    text-align: center;
}
#page .u-this_page-mobile .part-contents {
    margin: 0;
    width: 100%;
}