#page .uf-upage-responsive .upfront-inserted_image-wrapper.ueditor-insert-variant .ueditor-insert {
    margin-bottom: 30px;
    width: 100%;
}
#page .uf-upage-responsive .uinsert-image-wrapper img {
    margin-right: auto;
    margin-left: auto;
    width: auto;
}