/* captions */
.uslide-caption {
    display: block;
    font-size: 15px;
    line-height: 1.667em;
    padding: 10px 15px;
}
/* top cover */
.uslide.uslide-topCover .uslide-caption {
    height: inherit;
}
/* arrows */
.upfront-default-slider-nav-prev, .upfront-default-slider-nav-next {
    background: #ufc1;
}
.upfront-default-slider-nav-prev:hover, .upfront-default-slider-nav-next:hover {
    background: #ufc6;
}
.upfront-default-slider-nav-prev {
    left: 10px;
}
.upfront-default-slider-nav-next {
    right: 10px;
}
/* dots */
.upfront-default-slider-nav {
    display: block;
    margin: 5px 0 0;
    overflow: hidden;
}
.upfront-default-slider-nav-item {
    background: #ufc1;
    border-radius: 50%;
    height: 10px;
    width: 10px;
}
.upfront-default-slider-nav-item.uslider-dotnav-current {
    background: #ufc6;
}
